@font-face
  font-family iconfont
  src url('../font/iconfont.ttf') format('truetype')
  src
      url('../font/iconfont.ttf') format('truetype')
      url('../font/iconfont.eot') /* IE9*/
      url('../font/iconfont.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */
      url('../font/iconfont.woff') format('woff') /* chrome, firefox */
      url('../font/iconfont.ttf') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('../font/iconfont.svg#iconfont') format('svg')  /* iOS 4.1- */



//@font-face {
//  font-family: 'iconfont';
//
//  src: url('../font/iconfont.ttf');
//  //src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
//}
icon_font($size=16px)
  font-family "iconfont" !important
  font-size $size
  font-style normal
  vertical-align middle
  -webkit-font-smoothing antialiased
  -webkit-text-stroke-width 0.2px
  -moz-osx-font-smoothing grayscale

.icon-font
  icon_font()

.icon-1:before
  content "\e600"
.icon-icona:before
  content "\e601"
.icon-iconaa:before
  content "\e602"
.icon-2:before
  content "\e603"
.icon-icona1:before
  content "\e604"
.icon-iconb:before
  content "\e605"
.icon-iconbb:before
  content "\e606"
.icon-iconc:before
  content "\e607"
.icon-iconcc:before
  content "\e608"
.icon-icond:before
  content "\e609"
.icon-icondd:before
  content "\e60a"
.icon-icone:before
  content "\e60b"
.icon-iconee:before
  content "\e60c"
.icon-iconf:before
  content "\e60d"
.icon-icong:before
  content "\e60e"
.icon-icongg:before
  content "\e60f"
.icon-iconh:before
  content "\e610"
.icon-iconhh:before
  content "\e611"
.icon-iconi:before
  content "\e612"
.icon-iconi1:before
  content "\e613"
.icon-iconi2:before
  content "\e614"
.icon-iconi3:before
  content "\e615"
.icon-iconi31:before
  content "\e616"
.icon-iconi4:before
  content "\e617"
.icon-iconii:before
  content "\e618"
.icon-iconii01:before
  content "\e619"
.icon-iconj:before
  content "\e61a"
.icon-iconjj:before
  content "\e61b"
.icon-iconk:before
  content "\e61c"
.icon-iconl:before
  content "\e61d"
.icon-iconm:before
  content "\e61e"
.icon-iconn:before
  content "\e61f"
.icon-iconnft01:before
  content "\e620"
.icon-iconi21:before
  content "\e621"
.icon-iconl1:before
  content "\e622"
.icon-iconnft02:before
  content "\e623"
.icon-iconnft03:before
  content "\e624"
.icon-iconnft04:before
  content "\e625"
.icon-iconnft05:before
  content "\e626"
.icon-icono:before
  content "\e627"
.icon-iconp:before
  content "\e628"
.icon-iconq:before
  content "\e629"
.icon-iconr:before
  content "\e62a"
.icon-icons:before
  content "\e62b"
.icon-icont:before
  content "\e62c"
.icon-iconu:before
  content "\e62d"
.icon-iconv:before
  content "\e62e"
.icon-iconw:before
  content "\e62f"
.icon-iconx:before
  content "\e630"
.icon-icony:before
  content "\e631"
.icon-iconz:before
  content "\e632"
.icon-nfticon1:before
  content "\e633"
.icon-nfticon2:before
  content "\e634"
.icon-nfticon3:before
  content "\e635"
.icon-nfticon4:before
  content "\e636"
.icon-nfticon6:before
  content "\e637"
.icon-bangzhu:before
  content "\e638"
.icon-huidaodingbu:before
  content "\e639"
.icon-renqundingyi:before
  content "\e63a"
.icon-renqunfenxi:before
  content "\e63b"
.icon-shujushoulu:before
  content "\e63c"
.icon-shujushoulu1:before
  content "\e63d"
.icon-shujuyingyong:before
  content "\e63e"
.icon-shujuyingyong1:before
  content "\e63f"
.icon-shuaxin:before
  content "\e640"
.icon-xiala:before
  content "\e641"
.icon-zhedie:before
  content "\e642"
.icon-zidingyifenxi:before
  content "\e643"
.icon-jujueicon:before
  content "\e644"
.icon-qiehuanicon:before
  content "\e645"
.icon-shenheicon:before
  content "\e646"
.icon-xiazaiicon:before
  content "\e647"
.icon-zhongzhiicon:before
  content "\e648"
.icon-zhongxinshangxianicon:before
  content "\e649"
.icon-bangding:before
  content "\e64a"
.icon-fenxijieguo:before
  content "\e64b"
.icon-kelong:before
  content "\e64c"
.icon-quxiaobangding:before
  content "\e64d"
.icon-dian:before
  content "\e64e"
.icon-jiahao:before
  content "\e64f"
.icon-jianhao:before
  content "\e650"
.icon-mima:before
  content "\e651"
.icon-yonghu:before
  content "\e652"
.icon-tishi:before
  content "\e653"
.icon-kulian:before
  content "\e654"
.icon-backout:before
  content "\e655"
.icon-noselect:before
  content "\e656"
.icon-select:before
  content "\e657"
.icon-close:before
  content "\e658"
.icon-updownstep:before
  content "\e659"
.icon-nextmonth:before
  content "\e65a"
.icon-fenpeixiangmu:before
  content "\e65b"
.icon-shangchuan:before
  content "\e65c"
.icon-guanli:before
  content "\e65d"
