<style>


</style>

<div id="sortable-container">
    <div id="columns" class="row">
        <div class="col-sm-6 col-xs-6">
            <div class="column">
                <div class="columnHeader">
                    <span>条件</span>
                </div>
                <div class="sortable-row" as-sortable="conditionOptions" data-ng-model="itemsList.condition">
                    <div ng-repeat="item in itemsList.condition" as-sortable-item>
                        <div as-sortable-item-handle>{{item.name}}|{{item.isUsed}}
                            <!--<dropdown list='dpList[item.name]' selected='item.value'></dropdown>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sheet" ng-repeat="sheet in itemsList.sheets">
        <hr>
        ***********************{{$index}}************************
        <hr>
        <button type="button" class="btn btn-primary" ng-click="delSheet(itemsList.sheets,$index)">删除sheet</button>
        <div class="row" style="min-height: 50px;border: 1px solid #000">
            <div class="col-sm-6 col-xs-6">
                <div class="column">
                    <div class="columnHeader">
                        <span>横向{{$index}}</span>
                    </div>
                    <div class="sortable-row" as-sortable="colOptions" data-ng-model="sheet.row"
                         id="{{$index}}"
                         style="min-height: 50px;border: 1px solid #ff3852">
                        <div ng-repeat="item in sheet.row" as-sortable-item>
                            <div as-sortable-item-handle>
                                {{item.name}}|{{item.isUsed}}
                                <dropdown list='dpList[item.name]' selected='item.value' ng-if="item.value"></dropdown>
                                [<span ng-repeat="ele in item.dimension">[{{ele.v}}]</span>]
                                <span ng-click="del(sheet.row,$index)" ng-if="!item.dimension">删</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="horizontal-container" style="min-height: 50px;border: 1px solid #000">
            <div class="col-sm-12 col-xs-12">
                <div class="column">
                    <div class="columnHeader">
                        <span>纵向</span>
                    </div>
                    <div class="sortable-col" as-sortable="colOptions" data-ng-model="sheet.col"
                         id="{{$index}}"
                         style="min-height: 50px;border: 1px solid #ff3852">
                        <div ng-repeat="item in sheet.col" as-sortable-item>
                            <div as-sortable-item-handle>
                                {{item.name}}|{{item.isUsed}}
                                <dropdown list='dpList[item.name]' selected='item.value' ng-if="item.value"></dropdown>
                                [<span ng-repeat="ele in item.dimension">[{{ele.v}}]</span>]
                                <span ng-click="del(sheet.col,$index)" ng-if="!item.dimension">删</span>
                            </div>
                        </div>
                        <div style="clear: both;height: 1px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        *********维度设置***********<br>
        <div>
            <span ng-repeat="item in sheet.dimension" ng-click="addDimensionValue(item)">[[{{item.v}}]]</span>
            <button type="button" class="btn btn-primary" ng-click="addDimension(sheet.dimension)" >+</button>
        </div>

        <hr>
    </div>
    <button type="button" class="btn btn-primary" ng-click="addSheet()">增加sheet</button>
</div>
<!--<dropdown  list='dpList["时间"]'></dropdown>-->
<!--<dropdown selected = '"按月"' list='dpList["平台"]'></dropdown>-->